<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MERCADO LIEBRE </title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylus.css">
    <script src="https://kit.fontawesome.com/330ca645c0.js" crossorigin="anonymous"></script>

</head>
<body>
   <header class="main-header">

    <div class="main-header-top-bar">
        <img src="/img/logoMercado.png" class="logo" alt="">

        <input class="buscar" type="search" > 

        <img src="/img/lupa.png"  class="lupa"  alt="">
        
        <h2 class="copy-header"> 
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>

<a href="#" class="hamburguer-button" > <i class="fa-solid fa-bars"></i>  </a>

    <nav class="main-navbar"> 

        <ul class="left-navbar">
            <li > <a href="#"> Ofertas </a> </li>
            <li > <a href="#"> Tiendas Oficiales </a> </li>
            <li > <a href="#"> Vender </a> </li>
            <li > <a href="#"> Ayuda </a> </li>
        </ul>

        <ul class="right-navbar">
            <li > <a href="#"> Crea tu cuenta </a> <i class="fa-solid fa-credit-card"></i> </li>
            <li > <a href="/ingresar"> Ingresa </a> <i class="fa-solid fa-right-to-bracket"></i> </li>
            <li > <a href="#"> Mis compras </a> <i class="fa-solid fa-basket-shopping"></i> </li>
        </ul>
    </nav>

   </header>

   <main class="container">
        <section class="caja" >
           
            <h1> Basado en la ultima visita</h1>
            <div>
            <img class="producto imagen1" src="https://http2.mlstatic.com/D_NQ_NP_2X_752388-MLA45993881106_052021-F.webp" alt=""   >
            </div>
            <div>
            <img src="/img/logocarro2.png" alt="" class="car">
            <p class="bold"> $ 146.675</p>
            <p class="verde"> 40% Off </p>
            <p class="gris">Memoria USB Kingston</p>
            </div>
           
        </section>

        <section class="caja" >
           
            <h1> Basado en la ultima visita</h1>
            <div>
            <img id="bajartamaño" class="producto imagen2" src="https://http2.mlstatic.com/D_NQ_NP_993066-MLA45015451867_022021-O.webp" alt="" >
            </div>
            <div class="bajar">
            <img src="/img/logocarro2.png" alt="" class="car">
            <p class="bold"> $ 1.234.905</p>
            <p class="verde"> 15% Off </p>
            <p class="gris">Mountain bike Fusion Korbin</p>
            </div>
           
        </section>

        <section class="caja">
           
            <h1 class="ajusteh1"> Ofertas</h1>
            <div class="acomdar">
               <img src="https://http2.mlstatic.com/D_NQ_NP_2X_670935-MLA51988776838_102022-F.webp" alt=""class="producto imagen3">
            </div>
            <div class="acomodar2">
            <img class="car" src="/img/logocarro2.png" alt="" >
            <p class="bold"> $ 1.938.900</p>
            <p class="verde"> 55% Off </p>
            <p class="gris">Laptop Lenovo IdeaPad</p>
            </div>
           
        </section>
   </main>
<footer >
<div class="footerdisplay">
    <div class="ajustesection">
        <img src="/img/tarjeta azul.PNG" alt=""  class="icono">
        <h2> Pagá con tarjeta o efectivo</h2>
        <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o 
            efectivo en puntos de pago. ¡Y siempre es seguro! </p>
    </div>

    <div class="ajustesection" >
        <img src="/img/ENVIO.PNG" alt=""  class="icono">
        <h2> Envío gratis desde $ 2.500 </h2>
        <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>

    <div class="ajustesection" >
        <img src="/img/seguridad.PNG" alt=""  class="icono">
        <h2> Seguridad, de principio a fin </h2>
        <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
            porque estás siempre protegid@.
        </p>
    </div>
</div>

    <div class ="copyrigth">
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </div>

</footer>

</body>
</html>