<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MERCADO LIEBRE </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/stylus.css">
    <script src="https://kit.fontawesome.com/330ca645c0.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="main-header">

        <div class="main-header-top-bar">
            <img src="/img/logoMercado.png" class="logo" alt="">

            <input class="buscar" type="search">

            <img src="/img/lupa.png" class="lupa" alt="">

            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>

        <nav class="main-navbar">

            <ul class="left-navbar">
                <li> <a href="#"> Ofertas </a> </li>
                <li> <a href="#"> Tiendas Oficiales </a> </li>
                <li> <a href="#"> Vender </a> </li>
                <li> <a href="#"> Ayuda </a> </li>
            </ul>

            <ul class="right-navbar">
                <li> <a href="#"> Crea tu cuenta </a> <i class="fa-solid fa-credit-card"></i> </li>
                <li> <a href="/ingresar"> Ingresa </a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li> <a href="#"> Mis compras </a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>

    </header>
    <!-- <main class="main-formulario">
<form action="" method="">
    <div class="espacion">
        <label> Nombre Completo:</label>
        <input class="espacio" type="text" name="nombreUsuario">
    </div>
    <div>
        <label> Contraseña:</label>
        <input class="espacio" type="password" name="passwordUsuario">
    </div>
    <div>
        <label> Correo electronico:</label>
        <input class="espacio" type="email" name="emailUsuario">
    </div>
    <button class="boton" type="submit" > Enviar </button>
</form>
</main> -->

<main class="main-login">

    <br>
    <div class="username">
        <input type="text" placeholder="Ingresá tu nombre de usuario">
    </div>

    <br>

    <br>

    <div class="password">
        <input type="password" placeholder="Ingresá tu contraseña">
    </div>

    <br>

    <br>

    <div class="boton">
    <a href="/"><button class="button">Enviar</button></a>
    </div>

</main>
    <footer>
        <div class="footerdisplay">
            <div class="ajustesection">
                <img src="/img/tarjeta azul.PNG" alt="" class="icono">
                <h2> Pagá con tarjeta o efectivo</h2>
                <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>

            <div class="ajustesection">
                <img src="/img/ENVIO.PNG" alt="" class="icono">
                <h2> Envío gratis desde $ 2.500 </h2>
                <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div class="ajustesection">
                <img src="/img/seguridad.PNG" alt="" class="icono">
                <h2> Seguridad, de principio a fin </h2>
                <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>

        <div class="copyrigth">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </div>

    </footer>

</body>

</html>